* {

    font-family: Arial, Helvetica, sans-serif;

}

.fundo-laranja-gradiant {

    background-image: linear-gradient( rgba(54, 89, 245, 0.904), rgb(53, 33, 0));

}

.fundo-vermelho-gradiant {

    background-image: linear-gradient( rgba(255,0,0,0), rgba(255,0,0,1));

}

.fundo-escurao {

    background-color: rgb(26, 26, 26);
}